## Import Library

In [1]:
import pandas as pd
import numpy as np

## Import Dataset

In [2]:
df = pd.read_csv('ab_data.csv')

## Quick Look

In [3]:
df.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

In [3]:
df.shape

(294478, 5)

### Sample Size using Slovin

In [9]:
slovin = 294478/(1+294478 * 0.05**2)

In [10]:
slovin

399.45740272248173

### Sample 400 observation

In [8]:
df.sample(n=400) #simple random sampling

        user_id                   timestamp      group landing_page  converted
153387   892645  2017-01-17 03:49:59.031343  treatment     new_page          0
164825   670500  2017-01-22 01:09:09.429598    control     old_page          0
257860   683426  2017-01-04 11:45:03.688965    control     old_page          0
217778   785780  2017-01-09 02:27:22.442844  treatment     new_page          0
50568    830796  2017-01-18 12:43:05.076209  treatment     new_page          0
...         ...                         ...        ...          ...        ...
194136   936914  2017-01-04 16:07:03.761400    control     old_page          1
293490   777388  2017-01-14 02:09:25.389412  treatment     new_page          0
153861   772682  2017-01-20 15:53:47.379482    control     old_page          0
207630   681636  2017-01-09 11:21:21.110028    control     old_page          0
274411   665741  2017-01-22 21:05:35.263577  treatment     new_page          0

[400 rows x 5 columns]

### Sample using Same Randomness

In [12]:
df.sample(n=400,random_state=123)

        user_id                   timestamp      group landing_page  converted
260162   847857  2017-01-18 15:15:02.551941    control     old_page          0
37456    920163  2017-01-10 20:42:09.498343    control     old_page          0
80272    806917  2017-01-06 12:05:56.049996    control     old_page          0
278131   662772  2017-01-08 04:36:26.397852    control     old_page          0
270691   911648  2017-01-08 17:21:28.253382    control     old_page          0
...         ...                         ...        ...          ...        ...
13569    907619  2017-01-03 12:59:47.875206  treatment     new_page          0
89687    784615  2017-01-07 04:37:03.942657    control     old_page          0
3842     706821  2017-01-07 06:05:52.261403  treatment     new_page          0
89187    689612  2017-01-09 18:03:49.801956    control     old_page          0
105321   852505  2017-01-22 16:30:12.998870  treatment     new_page          0

[400 rows x 5 columns]

### Sample 30% from dataset

In [7]:
df.sample(frac=0.3)

        user_id                   timestamp      group landing_page  converted
186583   893743  2017-01-11 04:39:37.172078    control     old_page          0
256031   853511  2017-01-03 05:00:45.694946    control     old_page          0
283006   814654  2017-01-05 21:04:18.990880  treatment     new_page          0
254110   751639  2017-01-08 14:59:31.537678    control     old_page          0
181889   665122  2017-01-06 17:44:30.179297    control     old_page          0
...         ...                         ...        ...          ...        ...
52803    670220  2017-01-06 11:44:33.323235    control     old_page          0
26239    888236  2017-01-23 05:55:08.816955  treatment     new_page          0
47497    845510  2017-01-03 16:58:13.046340    control     old_page          0
77750    653130  2017-01-22 18:56:55.587907  treatment     new_page          0
119070   785120  2017-01-14 05:27:37.836025    control     old_page          0

[88343 rows x 5 columns]

# Sampling for Each Group

In [24]:
df.groupby(['group'],as_index=True).apply(lambda x: x.sample(n=200,random_state=123))

                  user_id                   timestamp      group landing_page  \
group
control   95574    704344  2017-01-08 06:33:15.620318    control     old_page
          282637   903218  2017-01-07 16:40:31.904242    control     old_page
          201262   724634  2017-01-05 18:38:31.257679    control     old_page
          93315    750623  2017-01-21 19:20:32.814948    control     old_page
          16163    651056  2017-01-04 03:17:39.846424    control     old_page
...                   ...                         ...        ...          ...
treatment 16034    665227  2017-01-18 06:10:37.832101  treatment     new_page
          241972   818984  2017-01-23 01:45:24.506789  treatment     new_page
          135298   843757  2017-01-04 03:10:19.433517  treatment     new_page
          200501   659763  2017-01-24 13:21:56.026713  treatment     new_page
          158648   788418  2017-01-14 05:09:32.246838  treatment     new_page

                  converted
group
control   95574           0
          282637          0
          201262          0
          93315           0
          16163           0
...                     ...
treatment 16034           1
          241972          0
          135298          0
          200501          0
          158648          0

[400 rows x 5 columns]